.gallery {
    height: 100vh;
    //background-color: lightblue;
    padding-right: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    background-color: #fff;

    .name-gallery {
        font-size: 40px;
    }

    hr {
        width: 70%;
        margin: 0 auto;
        border-color: $font-color-dark;
    }
}

.gallery-elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .gallery-image {
        width: 10vw;


        img {
            object-fit: cover;
            width: 100%;
            height: 10vw;
            display: block;
            padding: 5px;
            cursor: pointer;
            //filter: sepia(100%);
            transition: .2s;

            &:hover {
                transform: scale(1.1, 1.1);
                //filter: sepia(0%);
            }
        }

    }
}