.jumbotron {
    height: 100vh;
    background: radial-gradient(#f2ebd0, #94837c);
    //position: relative;

    .main-logo {
        padding-top: 1vw;
        width: 15vw;
        margin-left: 3vw;
        position: relative;

        .logo-part-one {
            opacity: 0.2;
        }

        .logo-part-two {
            position: absolute;
            bottom: 0;
            left: 0.5vw;
            ;
        }
    }

    .owl-carousel {
        width: 55vw;
        height: 30vw;
        //border: 5px solid brown;
        //overflow: hidden;
        position: absolute;
        bottom: 10vh;
        right: 260px;

        // top: 0;
        // left: 0;
        // width: calc(100vw - 220px);
        // height: 100vh;

        .owl-dots {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        img {
            object-fit: cover;
            //padding: 10px;
        }
    }

    .main-contact {
        text-align: center;
        width: 17vw;
        margin-left: 3vw;
        position: absolute;
        bottom: 12vh;

        h3 {
            font-size: 2.2vw;
        }

        h4 {
            font-size: 1.8vw;
        }

        img {
            margin-top: 30px;
        }
    }
}