@media (max-width: 783px) {

    nav {
        width: 70vw;
        right: -70vw;
        transition: .5s;
        z-index: 2;

        ul {
            padding-top: 10px;

            li {
                line-height: 35px;
                font-size: 18px;
            }
        }

        .back-to-top {
            padding-bottom: 10px;
        }

    }

    .burger {
        display: flex;
        align-items: center;
        right: 0;
        margin-right: 10px;
        z-index: 3;
        top: 10px;
        height: 43px;

        .burger-name {
            margin-right: 15px;
            font-size: 21px;
            transition: .4s;
        }

        .burger-icon {
            font-size: 32px;
            transition: .4s;

            .fa-times {
                display: none;
            }
        }

        &.active {
            +nav {
                right: 0;
            }

            .burger-name {
                color: $font-color-light;
            }

            .burger-icon {
                color: $font-color-light;

                .fa-bars {
                    display: none;
                }

                .fa-times {
                    display: block;

                }
            }
        }

    }

    .jumbotron {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .main-logo {
            position: relative;
            width: 50vw;
        }

        .owl-carousel {
            position: relative;
            top: 0;
            left: 0;
            width: 80vw;
            height: 45vw;
        }

        .main-contact {
            position: relative;
            bottom: 0;
            width: 80vw;

            h3 {
                font-size: 8.2vw;
            }

            h4 {
                font-size: 6.8vw;
            }
        }
    }

    .about {
        padding: 0;

        hr {
            margin-top: 0px;
            margin-bottom: 5px;
        }

        img {
            width: 100vw;
            left: 50%;
        }

        h5 {
            font-size: 8vw;
        }

        .main-text {
            font-size: 5vw;
        }

        .description {
            width: 95vw;
            margin: 0 auto;

            br {
                display: none;
            }
        }
    }

    .services {
        height: auto;
        padding-right: 0;
        padding-top: 20px;

        hr {
            display: none;
        }

        .container {
            flex-direction: column;
        }

        .tab {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 10px;

            .tablinks {
                width: calc(50% - 10px);
                border: 1px solid $font-color-dark;
                border-radius: 5px;
                margin: 3px;
                height: auto;
                min-height: 30px;
                padding: 5px 0;
                font-weight: 600;
            }

            .tablinks.active {
                border: 2px solid $font-color-dark;
                background-color: $font-color-dark;
                color: #fff;

                img {
                    display: none;
                }
            }

            h2 {
                flex-basis: 100%;
                font-size: 33px;
                margin-bottom: 5px;
            }

            .tablinks-text {
                font-size: 5vw;
            }
        }

        .tab-services-content {
            order: 2;
        }
    }

    .gallery {
        padding-right: 0;
        height: auto;
        padding-top: 15px;

        hr {
            position: relative;
            top: -17px;
        }

        .gallery-elements {
            .gallery-image {
                width: 33vw;

                img {
                    width: 33vw;
                    height: 33vw;
                    padding: 0;
                }
            }
        }
    }

    .price {
        height: auto;
        padding-right: 0;
        margin-top: 18px;

        .price-separator {
            margin: 15px auto;
        }

        hr {
            position: relative;
            top: -5px;
            width: 30%;
        }

        .tab-price {
            .tab-links {
                flex-wrap: wrap;

                .tablink-price {
                    margin: 5px;
                    padding: 5px 10px;
                    width: 70%;
                    text-align: center;
                    font-size: 5vw;
                    border-radius: 3px;
                    font-weight: 600;
                }
            }
        }

        .tabcontent-price {
            .main-service-price-desc {
                text-align: center;
            }

            .single-price {
                width: 80vw;
                margin-left: 18px;
                font-size: 12px;

                .single-price-desc {
                    text-align: center;
                    font-weight: 600;
                }

                .single-price-price {
                    padding-left: 10px;
                    width: 89px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .contact {
        height: auto;
        padding-right: 0;
        margin-top: 20px;
        padding-bottom: 10px;

        .contact-container {
            flex-direction: column;
        }

        .contact-form {
            width: 100vw;
            order: 2;

            form {
                .group {
                    margin: 10px 0;
                }

                input,
                textarea {
                    width: 80vw;

                    &:focus~.bar:before {
                        width: 80vw;
                    }
                }

            }
        }

        .contact-details {
            margin-bottom: 10px;

            img {
                width: 80vw;
                margin: 0 auto;
            }
        }
    }

}